camel-error-handling-retry/src/main/resources/wsdl/mathoperation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="addWrappedLiteral"

	targetNamespace="http://example/wrapped/mathoperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"

	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="http://add/types"

	xmlns:tns="http://www.example.org/add" xmlns:pref="http://www.example.org/addResponse"

	xmlns:intf="http://example/wrapped/mathoperation" xmlns:p="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://add/types"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/add"
			xmlns:pref="http://www.example.org/addResponse">

			<xsd:import schemaLocation="add.xsd" namespace="http://www.example.org/add">
			</xsd:import>
			<xsd:import schemaLocation="addResponse.xsd"
				namespace="http://www.example.org/addResponse"></xsd:import>

		</xsd:schema>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://example/wrapped/mathoperation" xmlns:pref1="http://www.example.org/addList"
			xmlns:pref2="http://www.example.org/addListResponse" xmlns:pref3="http://www.example.org/divide"
			xmlns:pref4="http://www.example.org/divideResponse" xmlns:pref5="http://www.example.org/multiply"
			xmlns:pref6="http://www.example.org/multiplyResponse" xmlns:pref7="http://www.example.org/subtract"
			xmlns:pref8="http://www.example.org/subtractResponse">
			<xsd:import schemaLocation="add.xsd" namespace="http://www.example.org/add">
			</xsd:import>
			<xsd:import schemaLocation="addResponse.xsd"
				namespace="http://www.example.org/addResponse">
			</xsd:import>
			<xsd:import schemaLocation="addList.xsd"
				namespace="http://www.example.org/addList">
			</xsd:import>
			<xsd:import schemaLocation="addListResponse.xsd"
				namespace="http://www.example.org/addListResponse">
			</xsd:import>
			<xsd:import schemaLocation="divide.xsd" namespace="http://www.example.org/divide">
			</xsd:import>
			<xsd:import schemaLocation="divideResponse.xsd"
				namespace="http://www.example.org/divideResponse">
			</xsd:import>
			<xsd:import schemaLocation="multiply.xsd"
				namespace="http://www.example.org/multiply">
			</xsd:import>

			<xsd:import schemaLocation="multiplyResponse.xsd"
				namespace="http://www.example.org/multiplyResponse">
			</xsd:import>
			<xsd:import schemaLocation="subtract.xsd"
				namespace="http://www.example.org/subtract">
			</xsd:import>
			<xsd:import schemaLocation="subtractResponse.xsd"
				namespace="http://www.example.org/subtractResponse"></xsd:import>
			<xsd:element name="subtract" type="pref7:subtract">

			</xsd:element>
			<xsd:element name="subtractResponse" type="pref8:subtractResponse">

			</xsd:element>
			<xsd:element name="multiply" type="pref5:multiply">

			</xsd:element>
			<xsd:element name="multiplyResponse" type="pref6:multiplyResponse">

			</xsd:element>
			<xsd:element name="divide" type="pref3:divide">

			</xsd:element>
			<xsd:element name="divideResponse" type="pref4:divideResponse">

			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addRequest">

		<wsdl:part name="request" element="tns:add" />

	</wsdl:message>

	<wsdl:message name="addResponse">

		<wsdl:part name="response" element="pref:addResponse" />

	</wsdl:message>

	<wsdl:message name="subtractRequest">
		<wsdl:part name="parameters" element="intf:subtract"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="subtractResponse">
		<wsdl:part name="parameters" element="intf:subtractResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="multiplyRequest">
		<wsdl:part name="parameters" element="intf:multiply"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="multiplyResponse">
		<wsdl:part name="parameters" element="intf:multiplyResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="divideRequest">
		<wsdl:part name="parameters" element="intf:divide"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="divideResponse">
		<wsdl:part name="parameters" element="intf:divideResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="mathOperation">

		<wsdl:operation name="add">
			<wsdl:input message="intf:addRequest" />
			<wsdl:output message="intf:addResponse" />
		</wsdl:operation>

		<wsdl:operation name="subtract">
			<wsdl:input message="intf:subtractRequest"></wsdl:input>
			<wsdl:output message="intf:subtractResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="multiply">
			<wsdl:input message="intf:multiplyRequest"></wsdl:input>
			<wsdl:output message="intf:multiplyResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="divide">
			<wsdl:input message="intf:divideRequest"></wsdl:input>
			<wsdl:output message="intf:divideResponse"></wsdl:output>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="mathSoapBinding" type="intf:mathOperation">

		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"

			style="document" />

		<wsdl:operation name="add">

			<soap:operation soapAction="http://example/wrapped/mathoperation" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="subtract">

			<soap:operation soapAction="http://example/wrapped/mathoperation" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="multiply">

			<soap:operation soapAction="http://example/wrapped/mathoperation" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="divide">

			<soap:operation soapAction="http://example/wrapped/mathoperation" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="mathService">

		<wsdl:port name="mathSoapPort" binding="intf:mathSoapBinding">

			<soap:address location="..." />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>