services/service/WebContent/wsdl/add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/add"
	xmlns:tns="http://www.example.org/add" elementFormDefault="qualified">
	<complexType name="add">
		<sequence>
			<element name="argumentOne" type="int" maxOccurs="1" minOccurs="0"/>
			<element name="argumentTwo" type="int" maxOccurs="1" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="add" type="tns:add"></element>
</schema>