camel-splitter/src/main/resources/wsdl/subtract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/subtract"
	xmlns:tns="http://www.example.org/subtract" elementFormDefault="qualified">
	<complexType name="subtract">
		<sequence>
			<element name="argumentOne" type="int" />
			<element name="argumentTwo" type="int" />
		</sequence>
	</complexType>

	<element name="subtract" type="tns:subtract"></element>
</schema>